{% extends 'BuenServicioApp/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tables/css/checklogout.css' %}">
{% endblock extra_css %}
{% block title %}BuenServicio{% endblock %}

{% block content %}
    <div class="check-container">
        <h2>Eliminar Todas</h2>
        <p>¿Estás seguro de que deseas eliminar todas las mesas registradas?</p>
        <form method="post" action="{% url 'delete_all_tables' %}">
            {% csrf_token %}
            <button class="button" name="delete" type="submit">Eliminar todas</button>
        </form>
    </div>
{% endblock %}
