/* Reset */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    
}
html, body {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
    
}

/* Header */
.header {
    background-color: #222;
    padding: 3vh 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #fff;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-right: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}
.messages{
    position: relative;
    text-align: center;
    font-size: larger;
}
.error{
    color: red;
}
.success{
    color: rgb(0, 200, 0);
}

.nav-link:hover {
    color: #f39c12;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 2rem;
}

.nav-item.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    background-color: #848dff;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #313bb9;
    color: #ffffff;
}

.button{
    background-color: #848dff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.button:hover {
    color: #ffffff;
    background-color: #313bb9;
}

.content{
    min-height: 75vh;
}

/* Footer */
.footer {
    background-color: #222;
    padding: 3vh 0;
    color: #fff;
    width: 100%;
}

.footer-text {
    text-align: center;
}

.check-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Responsive */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .logo {
        font-size: 1.2rem;
    }
}

