{% extends 'BuenServicioApp/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'salepoint/css/home.css' %}">
{% endblock extra_css %}
{% block title %}BuenServicio{% endblock %}

{% block content %}
    <div class="container">
        <ul>
            {% for table in tables %}
                <li>
                    <a 
                    {% if table.available %} 
                        style="background-color: green;" 
                    {% else %}
                        style="background-color: red;" 
                    {% endif %} 
                    href="/{{ table.number }}">Mesa {{ table.number }}</a>             
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
