{% extends 'BuenServicioApp/base.html' %}
{% load static %}
{% load custom_filters %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'salepoint/css/table.css' %}">
{% endblock extra_css %}
{% block title %}BuenServicio{% endblock %}

{% block content %}
<h1>Mesa {{table.number}}</h1>
    <div class="container">
        <div class="left-container">
            <h2>Productos consumidos</h2>
            <form action="{% url 'pay' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="table_id" value="{{ table.id }}">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre del Producto</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                            <th>Hora de la Venta</th>
                            <th>Descuento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in order %}
                        <tr>
                            <td>{{ product.product }}</td>
                            <td>{{ product.quantity }}</td>
                            <td class="costo-individual">${{ product.total }}</td>
                            <td>{{ product.timestamp|date:"H:i" }}</td>
                            <td>
                                <input class="discount-input" type="number" name="discount" value="0" min="0" max="100">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <label for="">Descuento general</label>
                <input type="number" value="0" min="0" max="100" name="general-discount" id="general-discount">
                <h3>Total: $<span id="total">{{ total }}</span></h3>
                <label>Efectivo</label>
                <input name="cash" type="checkbox">
                <input type="submit" formaction="{% url 'count' table.number %}" value="Imprimir cuenta">
                <input value="Cobrar" type="submit" onclick="return confirm('¿Seguro que deseas realizar el cobro?')">
            </form>
        </div>
    </div>
    <script>
        const discountInputs = document.querySelectorAll('.discount-input');
        discountInputs.forEach(input => {
            input.addEventListener('input', () => {
                actualizarCostoTotal();
            });
        });
    
        const discount = document.getElementById('general-discount');  // Cambié 'querySelector' a 'getElementById'
        discount.addEventListener('input', () => {
            actualizarCostoTotal();
        });
    
        function actualizarCostoTotal() {
            const totalElement = document.getElementById('total');
            let costoTotal = 0;
            const filas = document.querySelectorAll('tbody tr');
            
            filas.forEach(fila => {
                const costoProducto = parseFloat(fila.querySelector('.costo-individual').textContent.slice(1));
                const descuento = parseFloat(fila.querySelector('.discount-input').value);
                costoTotal += costoProducto * (1 - descuento / 100);
            });
    
            const descuentoGeneral = parseFloat(discount.value);  // Cambié 'fila' a 'discount' para obtener el valor del descuento general
            costoTotal = costoTotal * (1 - descuentoGeneral / 100);
    
            totalElement.textContent = `${costoTotal.toFixed(2)}`;  // Formatea el costo total como una cadena con el signo de dólar
        }
    
        actualizarCostoTotal();
    </script>
{% endblock %}

