{% extends 'BuenServicioApp/base.html' %}
{% load static %}
{% load custom_filters %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'salepoint/css/table.css' %}">
{% endblock extra_css %}
{% block title %}BuenServicio{% endblock %}

{% block content %}
<h1>Mesa {{table.number}}</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <div class="container">
        
        <div class="left-container">
            <h2>Agregar Productos</h2>
            <input type="text" id="search-input" placeholder="Buscar productos">
            <form action="/{{ table.number }}/addproduct" method="post" id="product-form">
                {% csrf_token %}
                <input type="hidden" name="table-id" value="{{ table.id }}">
                <table class="result-table">
                    <thead><tr>
                        <th>Nombre del Producto</th>
                        <th>Precio</th>
                        <th>Cantidad a Ordenar</th>
                    </tr></thead>
                    <tbody id="search-results">
                    </tbody></table>
                </ul>
                <input type="text" name="comment" id="comment" maxlength="30" placeholder="Comentario">
                <label for="printer">Comandera</label>
                <select name="printer" id="printer">
                    {% if printers %}
                    {% for i in printers %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                    {% else %}
                    <option value="">No hay Impresora disponible</option>
                    {% endif %}
                </select>
                <input type="submit" value="Guardar Productos">
            </form>
        </div>
        <div class="left-container">
            <h2>Productos consumidos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre del Producto</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Hora de la Venta</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in order %}
                    <tr>  
                        <td>{{ product.product }}</td>    
                        <td>{{ product.quantity }}</td>
                        <td>${{ product.total }}</td>              
                        <td>{{ product.timestamp|date:"H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <h3>Total: ${{ total }}</h3>
        </div>
    </div>
    {% if request.user|has_group:"Cajero" or request.user|has_group:"Encargado" %} 
<div class="buttons-container">
    <a href="{% url 'payment' table.number %}">Cobrar</a>
    <a href="{% url 'reprint' table.number %}">Reimprimir todo</a>
    <a href="{% url 'edit' table.number %}">Editar Productos</a>
    <a id="reset" href="/{{ table.number }}/resettable" onclick="return confirm('¿Seguro que deseas reiniciar la mesa?')">Reiniciar Mesa</a>
</div>
    {% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'salepoint/js/script.js' %}"></script>
{% endblock %}

