{% extends 'BuenServicioApp/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'salepoint/css/home.css' %}">
{% endblock extra_css %}
{% block title %}BuenServicio{% endblock %}

{% block content %}
    <div class="container">
        <h1>Mesa {{table.number}}</h1>
    </div>
    <div class="left-container">
        <h2>Agregar Productos</h2>
        <a href="{% url 'delete_all_products' %}">Eliminar todos los productos</a>
        <input type="text" id="search-input" placeholder="Buscar productos">
        <form action="{% url 'home' %}" method="post" id="product-form">
            {% csrf_token %}
            <ul class="products-list" id="search-results">
            </ul>
            <input type="submit" value="Guardar Productos">
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'salepoint/js/script.js' %}"></script>
{% endblock %}

