.container-tables {
    justify-content: center;
    max-height: 70vh;
    gap: 10px;
    display: flex;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.mesas-list{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    list-style: none;
    height: 90%; /* Ajusta la altura según tus necesidades */
    overflow: auto; 
}

.mesas-list li{
    min-width: 210px;
    width: 32%;
    display: flex;
}

form{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}
/* Estilos para los formularios */
.right-container form {
    min-width: 300px;
}

input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

/* Estilos para los mensajes de error */
.error {
    color: #ff0000;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Estilos para los mensajes de éxito */
.success {
    color: #008000;
    font-size: 14px;
    margin-top: 10px;
}