<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    {% load custom_filters %}
    <link rel="stylesheet" href="{% static 'BuenServicioApp/css/base.css' %}">
    {% block extra_css %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuenServicio</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="/" class="logo">
                <h1>BuenServicio</h1>
            </a>
            {% if user.is_authenticated %}
            <ul class="nav-list">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Mesas</a></li>
                {% if request.user|has_group:"Encargado" or request.user|has_group:"Cajero" %}
                <li class="nav-item"><a href="{% url 'cashier_home' %}" class="nav-link">Caja</a></li>
                {% endif %}
                {% if request.user|has_group:"Encargado" or request.user|has_group:"Encargado" %} 
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link">Administracion</a>
                    <div class="dropdown-content">
                        <a href="{% url 'tables' %}">Mesas</a>
                        <a href="{% url 'products' %}">Productos</a>
                        {% if request.user|has_group:"Encargado" or request.user|has_group:"Encargado" %} 
                        <a href="{% url 'users' %}">Usuarios</a>
                        {% endif %}
                {% endif %}
                <li class="nav-item"><a href="/accounts/checklogout/" class="nav-link">Cerrar sesión</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock  %} 
    </div>

    <footer class="footer">
        <div class="footer-content">
            <p class="footer-text">&copy; 2023 BuenServicio. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>