{% extends 'BuenServicioApp/base.html' %}
{% load static %}
{% load custom_filters %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tables/css/checklogout.css' %}">
{% endblock extra_css %}
{% block title %}BuenServicio{% endblock %}

{% block content %}
{% if request.user|has_group:"Encargado" %} 
<div class="check-container">
    <h2>Eliminar Todos los productos</h2>
    <p>¿Estás seguro de que deseas eliminar todos los productos registrados?</p>
    <form method="post" action="{% url 'delete_all_products' %}">
        {% csrf_token %}
        <button class="button" name="delete" type="submit">Eliminar todos</button>
    </form>
</div>
{% endif %}
{% endblock %}