{% extends 'BuenServicioApp/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock extra_css %}
{% block title %}BuenServicio{% endblock %}

{% block content %}
    <h2>Editar Producto</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ product.id }}">
        {{ ProductForm.as_p }}
        <button class="button" name="update" type="submit">Guardar Cambios</button>
    </form>
{% endblock %}